<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-scenario1-component></app-scenario1-component><br><br>
  <app-scenario2-component></app-scenario2-component><br><br>
  <app-scenario3-component></app-scenario3-component><br><br>
  <app-scenario4-component></app-scenario4-component><br><br>
  <app-scenario5-component></app-scenario5-component><br><br>
  <app-scenario6-component></app-scenario6-component><br><br>
  <app-s6parent></app-s6parent><br><br> 
<router-outlet></router-outlet>
